
body{
    width: 100vw;
    height: 100vh;
}

.record{
    font-size: 3rem;
}

.display-2 {
    margin: 10vh auto 4vh;
}

.main{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 70vh;
}

.welcome_main{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome_create, .welcome_join{
    width: 20vw;
    max-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1500px) {
  .welcome_create, .welcome_join, .welcome_main {
    width: 34vw;
  }
}

@media only screen and (max-width: 1030px) {
    .welcome_main {
        flex-direction: row;
        width: 100vw;
    }
}

.welcome_create > *, .welcome_join > * {
    margin: 10px auto;
}

.btn{
    width: 30%;
}

.button_block{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.alert-danger{
    position: fixed;
    width: 100%;
}

.create_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}